* {
    margin: 0;
    padding: 0;
    font: normal 12px '고딕';
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}

#wrapper {
    width: 1200px;
    height: auto;            
    margin: 10px auto;            
}

header {
    position: relative;
    width: 100%;
    height: 60px;
    background: #3a3b50;            
}
header .logo {
    margin-top: 10px;
    margin-left: 10px;            
}

header > p {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
}
header a {color: white;}
header a:hover {font-weight: bold;}

main {
    width: 100%;
    height: auto;
    background-color: #f0f2f4;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

main > aside {
    float: left;
    width: 200px;
    height: auto;
    background: #fff;
    box-shadow: 2px 2px 5px 1px #eee;
}

main > aside > ul {
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    list-style: disc;
    margin-left: 16px;           
}
main > aside > ul > li {margin-bottom: 6px;}

main > aside > ul > li > a {
    display: inline-block;            
    font-weight: bold;
    margin: 0px;                        
}       

main > aside ol {        
    display: none;    
    margin-top: 6px;            
}
main > aside ol > li {
    line-height: 20px;
}
main > aside ol a:hover {font-weight: bold;}
main > aside ol a::before {content: '- ';}

main > section {
    float: right;
    width: 970px;
    height: auto;
    overflow: hidden;
}

main > section > article {
    float: left;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    background: #fff;            
    box-shadow: 2px 2px 5px 1px #eee;
}

main > section > article:nth-child(1) {width: 560px;}
main > section > article:nth-child(2) {width: 320px;}
main > section > article:nth-child(3) {width: 560px;}
main > section > article:nth-child(4) {width: 320px;}

main > section > article > h3 {
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}
main > section > article > p {float: right;}
main > section > article > .more {            
    display: block;
    padding: 6px 0;
    box-sizing: border-box;
    text-align: center;
    background: #e9e9e9;
    border-bottom: 1px solid #d3d1d1;
}

main table {
    width: 100%;
    border-spacing: 0;            
}
main table tr {
    height: 38px;
}
main table tr:nth-child(1) {
    background-color: #62626e;
    color: white;
}

main table tr > th {
    font-weight: bold;
    border-right: 1px solid white;
}

main table tr > td {
    text-align: center;
    border-bottom: 1px solid #d3d1d1;
}
main table tr > td:nth-child(1) {}
main table tr > td:nth-child(2) {}
main table tr > td:nth-child(3) {}
main table tr > td:nth-child(4) {}
main table tr > td:nth-child(5) {}

footer {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #eee;            
    border-top: 1px solid #e3e3e3;
    overflow: hidden;
}

footer > .copyright {
    float: right;
    margin-right: 10px;
    color: #555;
}